# Test against this version of Node.js
environment:
  matrix:
  - nodejs_version: "0.10"
  - nodejs_version: "0.11"
  - nodejs_version: "0.12"
  - nodejs_version: "4"
  - nodejs_version: "5"
  - nodejs_version: "6"
  - nodejs_version: "7"

platform:
  - x86
  - x64

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  - npm -g install npm@latest
  - npm install

# Post-install test scripts.
test_script:
  - node --version
  - npm --version
  - npm test

# Don't actually build.
build: off
